* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.card2 {
	width: 180px;
	height: 252px;
	border: 2px #9e5b58 solid;
	border-radius: 0px 0px 10px 10px;
	background: url('../images/card2/wasteland-bg.png') center 0% no-repeat;
	overflow: hidden;
	position: relative;
	margin-right: 10px;
	display: inline-block;
}

.card2 .image {
	background: url('../images/card2/iggyandscorch.png') 57% 23% no-repeat;
	width: 100%;
	height: 100%;
}

.card2 .description {
	width: 100%;
	height: 100px;
	border-top: 2px solid #9e5b58;
	background: #000;
	position: absolute;
	bottom: 0;
	color: #fff;
	font-family: sans-serif;
}

.card2 .description .name {
	text-align: center;
	font-size: 16px;
	padding: 12px 0 4px;
}

.card2 .description .nickname {
	text-align: center;
	font-size: 10px;
	padding-bottom: 10px;
}

.card2 .description .stats {
	text-align: center;
}

.card2 .stats .stat {
	width: 20px;
	display: inline-block;
	margin-right: 16px;
}

.card2 .stats .stat:last-child {
	margin-right: 0;
}

.card2 .stats .value {
	font-size: 10px;
}

.card2 .element {
	position: absolute;
	top: -2px;
	right: -2px;
	z-index: 10;
}
